[submodule "euler-labels"]
	path = reference/euler-labels
	url = https://github.com/euler-xyz/euler-labels.git
[submodule "euler-vault-kit"]
	path = reference/euler-vault-kit
	url = https://github.com/euler-xyz/euler-vault-kit.git
[submodule "phoenix"]
	path = reference/phoenix
	url = https://github.com/Cork-Technology/phoenix.git
[submodule "reference/ethereum-vault-connector"]
	path = reference/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector.git
[submodule "reference/euler-interfaces"]
	path = reference/euler-interfaces
	url = https://github.com/euler-xyz/euler-interfaces.git
[submodule "reference/euler-vault-scripts"]
	path = reference/euler-vault-scripts
	url = https://github.com/euler-xyz/euler-vault-scripts.git
